.event-map-booths-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18px;

  table {
    margin-top: 18px;
  }

  table > colgroup > col {
    &.one {
      width: 20%;
    }

    &.two {
      width: 80%;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-gap: 0;

    table td.samesize {
      height: auto;
    }
  }
}
