.layout {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100%;
  background-image: linear-gradient(to top, #1d87dd 0%, #04223c 100%);

  main {
    grid-area: content;
    display: grid;

    grid-template-rows: 418px 1fr 1fr;
    justify-content: center;

    & > h1 {
      margin: 0 0 25px;
      color: white;
      text-align: center;
    }

    .information {
      text-align: center;
      margin: 0 0 30px;

      & > h2 {
        margin: 0 0 15px;
        color: $white;
      }

      p {
        font-size: 1.28rem;
        text-transform: uppercase;
        color: $white;
        margin: 0 0 5px;

        &.location {
          font-size: 1.68rem;
          line-height: 1.5;
          font-weight: 700;
        }
      }

      .button {
        background-color: transparent;
        color: white;
        padding: 6px 28px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.08rem;
        cursor: pointer;
        background-color: $accent;
        color: $white;
        margin: 10px 0 0;
        text-transform: uppercase;
        font-weight: 700;

        &:hover,
        &:active {
          background-color: $accent-light;
        }
      }
    }

    // Styles for phone view
    @media (max-width: 435px) {
      grid-template-rows: 3fr 1fr 2fr;

      .information {
        p {
          font-size: 1.18rem;
          line-height: 1.5;
        }
      }
    }
  }
}
